[Unit]
Description=wb_price_checker
After=syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/python/wb_price
ExecStart=/usr/bin/python3 price_wb.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target